
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection
{
    background: yellowgreen;
}
nav
{
    position: sticky;
    top: 0%;
    left: 0%;
}
img
{
    width: 100%;
    height: 100%;
}
.navbar
{
    display: grid;
    width: 100%;
    height: 14vh;
    background: rgb(32, 32, 32);
    grid-template-columns: 35% 65%;
    z-index: 777888;
}
.logo
{
    font-size: 40px;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-left: 35px;
    padding-top: 5.8%;
    color: white;
}
.menu
{
  width: 10%;
  height: 60%;
  margin-left: 86%;
  margin-top:-5%;
  display: none;
}
ul
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 70%;
    margin-top: 3.8%;
    margin-left: 17%;
}
ul li
{
    list-style-type: none;
    text-align:center;
    /* border: solid; */

}
ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color:white;
    transition: 2s all;

}
ul li a:hover
{
    color: orangered;
}
#home
{
    font-size: 24px;
    color: orangered;
     /* border: solid; */
     /* margin-left: 23%; */
    }
.bg
{
    width: 100%;
    height: 100vh;
    background-image:url(banner-bg.png);
     background-repeat: no-repeat;
    position: absolute;
    background-size: 100% 85%;
    top: 14%;
    left: 0%;
    
}
#head1{
    font-size: 59px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    width: 30%;
    margin: 9%;
}
#head2
{
    width: 40%;
    font-size: 73px;
    color: white;
    font-weight: 800;
    font-family:serif;
    letter-spacing: 1.5px;
    margin-left: 9%;
    margin-top: -9%;
  
}
#p1
{
    width: 40%;
    margin-left: 9%;
    color: white;
    margin-top: 1%;
    
}
#btn1
{
    width: 12%;
    height: 7vh;
    border: none;
    margin-left: 9%;
    margin-top: 4%;
    background:rgb(32, 32, 32) ;
    color: white;
    font-size: 18px;
    transition: 2s all;
}
#btn1:hover{
    background: orangered;
}
#btn1:active
{
   transform: translate(120px);
}
.About
{
    width: 100%;
    height: 40VH;
    margin-top: 46%;
    display: grid;
    grid-template-columns: 50% 45%;
}
.itme2
{
    margin-top: 8%;
    width: 80%;
    height: 70vh;
}

#head3
{
    font-size: 45px;
    text-transform: uppercase;
    color: orangered;
    margin-top: 14%;
    margin-left: 11%;
}
#p2
{
    width: 70%;
    margin-left: 11%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 6%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#btn2
{   width: 19%;
    height: 7vh;
    border: none;
    margin-left: 11%;
    margin-top: 6%;
    background:rgb(32, 32, 32) ;
    color: white;
    font-size: 18px;
    transition: 2s all;
}
#btn2:hover{
    background: orangered;
}

#btn1:active
{
   transform: translate(120px);
}
.gallery
{
    width: 100%;
    height: 230vh;
    margin-top: 25%;
}
#head4
{
    font-size: 45px;
    text-transform: uppercase;
    color: orangered;
    margin-top: 1%;
    margin-left: 37%; 
}
#p3
{
    width: 70%;
    margin-left: 17%;
    margin-top: 2%;
    text-align: center;
}
.gallerybox
{
    width: 90%;
    height: 180vh;
    margin-top: 2%;
    margin-left: 5%;
        
}
.gallerybox1
{
   width: 100%;
   height: 60vh;
   display: grid;
   grid-template-columns: 30% 30% 30%;
   justify-content: space-evenly;
   overflow: hidden;
}
img
{
    width: 100%;
    height: 100%;
}

#item1{
    transition: 2s all;
}
#item1:active
{
   transform:scale(160%);

}
#item2{
    transition: 2s all;


}#item3{
    transition: 2s all;

}
#item1:hover
{
    background: #000;

}
    #item2:active
    {
       transform:scale(160%);
    }

#item2:hover
{
    background: #000;
}
#item3:active
{
   transform:scale(160%)
}
#item3:hover
{
    background: #000;

}
#item1:hover::before
{
    content: "The Coffe";
    color: orangered;
    font-size: 40px;
    margin-left: 18%;

}
#item2:hover:before
{
    content: "best Coffe";
    color: orangered;
    font-size: 40px;
    margin-left: 18%;

}
#item3:hover:before
{
    content: "Good Coffe";
    color: orangered;
    font-size: 40px;
    margin-left: 18%;

}
#btn3
{   width: 13%;
    height: 7vh;
    border: none;
    margin-left: 42%;
    margin-top: 6%;
    background:rgb(32, 32, 32) ;
    color: white;
    font-size: 18px;
    transition: 2s all;
}
#btn3:hover{
    background: orangered;
}

#btn3:active
{
   transform: translate(120px);
}
.contenar
{
    width: 100%;
    height:80vh;
    margin-top: 9%;
    background: url(services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
#head5
{
    font-size: 45px;
    color: white;
    display: grid;
    justify-content: center;
    margin-top: 8%;
}
#p4
{
    display: grid;
    justify-content: center;
    color: white;
    margin-top: 1%;
    font-size: 20px;
}
.cardbox
{
   width: 90%;
   height: 70%;
   margin: auto;
   margin-top: 4%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#card1{
    width: 28%;
    height: 39vh;
    background:#f76d37;    
    color: #000;
    transition: 2s all;
}


 #head6:hover
{
    color: #000;

}
#p5:hover
{
    color: #000; 
    font-weight: 700;

}

.icon

{
    width: 20%;
    height: 20%;
    margin: auto;
    margin-top: 8%;

}
.icon2
{
    width: 18%;
    height: 24%;
    margin: auto;
    margin-top: 5%;

}
.icon3
{
    width: 18%;
    height: 24%;
    margin: auto;
    margin-top: 5%;

}
#head6
{
    font-size: 35px;
    margin-top: 8%;
    text-align: center;
    color: white;
    transition: 2s all;
    
}
#p5
{
    color: white;
    margin-top: 5%;
    transition: 2s all;

    text-align: center;
}
#card2
{
    width: 28%;
    height: 39vh;
    background:#f76d37;
    transition: 2s all;
}#card3
{
    width: 28%;
    height: 39vh;
    transition: 2s all;
    background:#f76d37;

}
.contaner2
{
    width: 100%;
    height: 100vh;
}
#pic
{
    width: 15%;
    height: 35vh;
    border: solid orangered 5px;
    margin-left: 11%;
     margin-top: 11%;
    }
    #img2
    {
        width: 100%;
        height: 35vh;
        margin-left: -8%;
        margin-top: -10%;
        /* box-shadow: 11px 10px 31px 14px orangered; */
}
#head7
{
    width: 20%;
  font-size: 45px;
  color: orangered;
  margin-left: 11%;
  margin-top: 5%;
}
#p6
{
    width: 25%;
    margin-left: 9%;
    margin-top: 2%;
    /* background: #000; */
}
#pic2
{
    width: 25px;
    height: 35px;

 }
 #p7
 {
    width: 80%;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
 }
 #pic3
 {
    width: 25px;
    height: 35px;
    margin-left: 89%;
    margin-top: 2%;
 }
 .cnt2
 {
    width: 60%;
    height: 60vh;
    margin-top: -29%;
    margin-left: 33%;
 }
 #head8
 {
    display: grid;
    justify-content: center;
    font-size: 50px;
    color: orangered;
    letter-spacing: 2px;
 }
 .contact
 {
    width: 100%;
    height: 140vh;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 70% 25%;
}
#head9
{
  color: orangered;
  font-size: 50px;
  width: 30%;
  margin-left: 3%;
  letter-spacing: 2px;
}
#p8
{
    width: 80%;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 3%;
}
#span1
{
    font-size: 25px;
    font-weight: 550;
margin-top: 5%; 
margin-left: 3%;


}
#p9
{
    display: inline-block;
margin-top: 3%;    
font-size: 20px;

}
#span2
{
    display: block;
    font-size: 25px;
    font-weight: 550;
margin-top: 2%; 
margin-left: 3%;   
}
#p10
{
    font-size: 20px;
    margin-left: 3%;   
}
#head10
{
    text-transform: capitalize;
    font-size: 45px;
    margin-top: 4%;
    margin-left: 3%;   
}
.ol
{
    width: 60%;
   list-style-type:circle;
}
li{
    font-size: 20px;
 padding-top: 2%;
 margin-left: 10%;
}
form{
    width: 80%;
    margin: auto;
    padding-top: 3%;
    display: grid;
    grid-template-columns: 50% 50%;
}

label
{
    width: 50%;
    font-size: 25px;
}
input
{
    width: 85%;
    height: 5vh;
}
input::placeholder
{
    text-transform: capitalize;
  font-size: 20px;
}
#pic7
{
    width: 100%;
    height: 35vh;
}
#head11
{
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 3%;
    text-align: center;
}
#p12
{
    font-size: 20px;
    padding-top: 5%;
}
#snd
{
    width: 20%;
    height: 7vh;
    border: none;
    margin-left: 85%;
    margin-top: 4%;
    background:rgb(32, 32, 32) ;
    color: white;
    font-size: 18px;
    transition: 2s all;
}
#snd:hover{
    background: orangered;
}
#snd:active
{
   transform: translate(120px);
}
 footer
 {
    width: 100%;
    height: 45vh;
    border: solid;
    background:rgb(32, 32, 32);
    margin-top: 10%;
   
 }
.foter
{
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 37% 20% 20% 28%;
}

#head12
{
    width: 30%;
    height: 20%;
    margin-top: 7%;
    font-size: 45px;
    color: orangered;
}
#head13
{
    width: 70%;
    margin-left: -3%;
    height: 20%;
    margin-top: 12%;
    font-size: 45px;
 color: orangered;
}
#head14
{
    margin-left: -3%;
    width: 70%;
    height: 20%;
    margin-top: 13%;
    font-size: 45px;
    color: orangered;
}
#head15
{
    margin-left: -3%;
    width: 70%;
    height: 20%;
    margin-top: 11%;
    font-size: 45px;
    color: orangered;
}
#p14{
    margin-top: 5%;
    color: white;
}

#p13
{
  color: white;
  font-family: serif;
  width: 80%;
}
ol li
{
    list-style-type: none;
    padding-top: 3%;
}
ol li a{
    color:white ;
    text-decoration: none;
    margin-left:-10%;
    transition: 2s all;
}
ol li a:hover
{
    color: orangered;
}

#last
{
    /* background:rgb(32, 32, 32); */
    width: 100%;
    height: 15%;   
    border: solid 1px rgb(32, 32, 32) ;
    background: rgb(36, 36, 36);
    color: white;
    font-size: 23px;
    margin-top:-2%;
    text-align: center;
}